.qualification_tabs {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-family: "Fira Code";
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--title-color-dark);
}

.qualification_icon {
  font-size: 1.9rem;
  margin-right: var(--mb-0-25);
}

.qualification_active {
  color: var(--title-color-dark);
}

.qualification_content {
  display: none;
}

.qualification_content-active {
  display: block;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-family: "Fira Code";
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: 5px;
}

.qualification_calendar {
  font-size: var(--small-font-size);
}

.qualification_website {
  font-size: var(--small-font-size);
  color: var(--light-blue);
  font-family: "Fira Code";
  transition: 0.3s;
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
  transform: translate(6px, -7px);
}
