.skills_title {
  font-size: var(--normal-font-size);
  font-family: "Fira Code";
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills_group {
  display: grid;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.skills_data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-family: "Fira Code";
  margin-top: -1px;
  margin-bottom: -1px;
  line-height: 18px;
}

.skills_level {
  font-size: var(--tiny-font-size);
}
