.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-family: "SFMedium";
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-family: "SFMedium";
  transition: 0.3s;
}

/* Active link */
.active-link,
.nav_link:hover {
  color: var(--title-color-dark);
}
