.about_icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about_title {
  font-size: var(--small-font-size);
  font-family: "SFMedium";
}

.about_subtitle {
  font-size: var(--tiny-font-size);
}

.about_cv {
  display: flex;
  justify-content: center;
  align-items: center;
}
