.work_item {
  cursor: pointer;
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-family: "SFMedium";
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.active-work {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work_item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work_title {
  font-size: var(--normal-font-size);
  font-family: "SFMedium";
  margin-bottom: var(--mb-0-5);
}

.work_subtitle {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.work_difficulty {
  font-size: var(--smaller-font-size);
  margin-top: var(--mb-0-5);
}

.work_button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  margin-top: var(--mb-0-5);
  align-items: center;
  column-gap: 0.25rem;
}

.work_button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work_button:hover .work_button-icon {
  transform: translateX(0.25rem);
}
