@font-face {
  font-family: "SFLight";
  src: local("SF Webfont"),
    url("./font/SF-Pro-Text-Light.otf") format("opentype");
}

@font-face {
  font-family: "SFMedium";
  src: local("SF Webfont"),
    url("./font/SF-Pro-Text-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SFRegular";
  src: local("SF Webfont"),
    url("./font/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SFSemiBold";
  src: local("SF Webfont"),
    url("./font/SF-Pro-Text-Semibold.otf") format("truetype");
}
